.page {
  min-width: 320px;
  padding: 28px 0 24px;
  background-color: #2A2C2F;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 320px) {
  .page {
    padding: 16px 0 24px;  
  }
}