.lead__title {
  max-width: 720px;
  margin: 0 0 32px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: calc(720px - 432*((768px - 100vw)/448));
    font-size: calc(96px - 56*((768px - 100vw)/448));
    line-height: calc(100px - 56*((768px - 100vw)/448));
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0 0 16px;
  }
}